@import "../common.less";
body {
    background: url(../../reaource/bg.jpg) no-repeat border-box fixed;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    .mui-content {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    ul {
        background-color: transparent;
        height: 100%;
        width: 100%;
        padding: 0;
        list-style: none;
        li {
            background-color: transparent;
            display: block;
            position: relative;
            .left {
                width: 100px;
                height: 80px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 15px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .right {
                position: absolute;
                left: 120px;
                top: 0;
                p:first-of-type {
                    color: black;
                    font-size: 15px;
                }
                p {
                    margin-top: 5px;
                    padding: 0;
                    width: 100%;
                    .textLine(2);
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
}

#listView {
    padding: 0;
    list-style: none;
    position: relative;
    .cellItem {
        border-bottom: solid 1px lightgray;
        height: 110px;
        position: relative;
        .left {
            position: absolute;
            top: 50%;
            transform: translate(0, -60%);
            margin-top: 10px;
            margin-left: 10px;
            //          background-color: red;
            padding: 0;
            img {
                width: 80px;
                display: block;
                height: 80px;
                margin: 0 auto;
            }
        }
        .right {
            //          background-color: palegoldenrod;
            margin-left: 5px;
            b{
                .textLine(1);
            }
            p {
                padding: 0;
                margin: 0;
                font-size: 13px;
                .textLine(2);
            }
        }
    }
}

.noRecord {
    background-color: transparent;
    color: gray;
    font-size: 0.875rem;
    position: absolute;
    width: 50%;
    height: 200px;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    text-align: center;
    //  transform: translateX(-50%);
}